arrow==0.12.1
blessed==1.14.2
certifi==2018.4.16
chardet==3.0.4
DateTime==4.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.8.19
django-picklefield==1.0.0
django-q==0.9.4
gunicorn==19.8.1
idna==2.6
lxml==4.2.1
pkg-resources==0.0.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
static3==0.7.0
urllib3==1.22
wcwidth==0.1.7
xmltodict==0.11.0
zope.interface==4.5.0
