


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
}
.chineseText {
  font-family: 'Noto Sans TC',sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 2px;
   
}

#Donutchart {
  width: 85%;
  height:50vh;
  padding-left: 5%;
  padding-right: 5%
}
.compare_quantity {
  position: absolute;
  top:47%;
  left:0%;
}
.villdropdown ,.towndropdown{
  width: 50%;
  height: auto;
}
#dropdown {
  width: 50%;
  height:auto;
  margin-top:3%;
  z-index: 1000;
}
#leafletmap {
  width:70%;
  height: 450px;
  margin-top:10%;
  margin-left:10%;
  background: rgb(243, 233, 217);
}
.leaflet-top,.leaflet-bottom {
  position: absolute;
  z-index: 10;
}
#map {
  width:60%;
  height: 450px;
}
.date {
  height: auto;
  font-size: 16px;
  text-align: center;
  color: #7a7979;
  margin-top:20%;
  margin-bottom:2%;
}
#ButtonGroup{
  width: 15%;
  height: auto;
  float: left;
  padding-top: 5%;
  padding-left:5%; 
}
#ButtonGroup button {
  margin-bottom: 8%;
}
#Areachart {
  width: 75%;
  height: auto;
  float: left;
  padding-top: 5%;
  
}
#footer {
  width:100%;
  height: 150px;
}
button {
  margin-left: 25%;
}
.ratio-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
}
.ratio-container-content {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
}
.loaddata {
  display: block;
  position: fixed;
  z-index: 1000;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: #FFFFFF
              url('/static/ajax-loader.gif')           
              50% 50%
              no-repeat
  
}


