
#root,
header,
main {
  width: 100%;
  height: auto;
}

header,
main {
  margin-top: 2rem;
}
.topic {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  letter-spacing: 10px;
  color:#454f5d;
  box-sizing: border-box;
  font: bolder 5vmin 'Noto Sans TC', sans-serif;
}
h2 {
  font: 3vmin 'Noto Sans TC', sans-serif;
  font-weight: 600;
  letter-spacing: 1vmin;
  margin:auto;
}
.load{
    display: block;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #FFFFFF url('/static/initloading.gif') 50% 50% no-repeat
  }

#load_text {
    position: absolute;
    top: 45%;
    left: 45%;
    font:2.5vmin bolder 'Noto Sans TC', sans-serif;
  }

.Overview {
  display:flex;
  align-items:center;
  justify-content:center;
  width:70%;
  height:auto;
  margin:auto;
}
.Cityreport,.Personalreport{
  width:95%;
  height:auto;
}
.Overview-chart {
  width:60vmin;
  height:auto;
  float: left;
}
.Overview-description {
  width:60vmin;
  height:auto;
  float: left;
}
.Map-chart,.Personal-chart{
  width:100%;
  height:50vmin;
  float: left;
}
.Map-left,.Map-right,.Personal-left,.Personal-right{
  height:auto;
  float: left;
  margin:1rem;
}
.Map-left ,.Personal-left{
  width:55%;
}
.Map-right ,.Personal-right{
  width:40%;
}
.left.ui.segment.description-block{
  width:48%;
  height:auto;
  float: left;
  margin:1% ;
}
.right.ui.segment.description-block{
  width:98%;
  height:40vmin;
  float: left;
  margin:2% ;
}
.personal-control{
  width:50%;
  height: auto;
}
.btnbar,.input{
  width:50%;
  height:10vmin;
  float: left;
} 
button.easy-button-button{
  position: absolute;
  left: 1.2%;
  top:15%;
  background-color: #ffffff;
  border-color: rgb(0,0,0,.4);
  border-radius: 5px;
  width:33px;
  height:34px;
  z-index:9999;
  cursor: pointer;
}
.report{
  width:100%;
  height:auto;
  float: left;
  margin:0 2rem;
}
rect {
  width: 3.5%;
  border-color: #ffffff;
  border-radius: 10%;
}
.line-block{
  width:100%;
  height:1.5vmin;
}
#date{
  letter-spacing: 0.3rem;
}
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
body {
  margin: 0;
  padding: 0;
  font: 2.5vmin 'Noto Sans TC', sans-serif;
}
img {
  max-width:15vmin;
  height:auto;
}

h3,
span {
  font-size: 2.5vmin;
}

p {
  font-size: 1vmin;
}
a {
  padding-left: 2%;
  padding-right: 2%;
  color: #000000;
  letter-spacing: 1px;
}


@media only screen and (max-width:680px) {
  span {
    font-size: 2vmin;
  }
  p {
    font-size: 0.5vmin;
  }
  text {
    font-size: 1rem;
  }
  .Map-left ,.Personal-left{
    width:90%;
    margin:1rem;
  }
  .Map-right ,.Personal-right{
    width:90%;
    margin:1rem;
  }
 
}
